---
permalink: "index.html"
---

{% extends "src/base.njk" %}

{% block head %}
{% endblock %}

{% block content %}
    

			<!-- MAINPART -->
			<div class="elisc_tm_mainpart">
				<div class="mainpart_inner">

					<!-- HOME -->
					<div class="elisc_tm_section animated" id="home">
						<div class="elisc_tm_home" style="background-image: url('/img/JULIO/SLIDER/JULIO_WEB-07.png');background-size: cover;background-repeat: no-repeat;">
							<div class="tm_content" style="padding: 100px 0;">
								<div class="details">
									<div class="left">
										<div class="title">
											<h3 style="color: #fff;">Welcome to my  <br>
												<span class="greenColor">professional website!</span></h3>
										</div>

										<div class="subtitle">
											<p style="color: #fff;">I’m <span class="greenColor">Julio Herrera Toledo</span>, an advocate of public innovation, digital transformation, and open data. Dive into my work and join me in creating a <span class="greenColor">more transparent and accountable future.</span></p>
										</div>
										<div class="buttons">
											<div class="elisc_tm_button">
												<a class="anchor" href="#contact">Let's talk</a>
											</div>
										</div>
										<div class="info">
											<ul>
												<li><a href="mailto:julio@redciudadana.org" style="color: #fff;">julio@redciudadana.org</a></li>
												<li><a class="href_location" href="#" style="color: #fff;">Guatemala, Guatemala</a></li>
											</ul>
										</div>
									</div>
									<!-- <div class="right">
										<img src="img/about/2.jpg" alt="Julio Herrera Toledo" />
									</div> -->
								</div>
							</div>
						</div>
					</div>
					<!-- /HOME -->

					<!-- ABOUT -->
					<div class="elisc_tm_section" id="about">
						<div class="elisc_tm_about">
							<div class="tm_content">
								<div class="elisc_tm_biography">
									<div class="left">
										<div class="title">
											<span class="mini">Nice to meet you!</span>
											<h3 class="name">Julio Herrera Toledo</h3>
											<div class="cuadro_verde">
												<h6>Ejecutive Director</h6>
											</div>
											<!-- <span class="job">
												<span class="cd-headline rotate-1"> 
													<span class="blc">Web designer &amp;</span>
													<span class="cd-words-wrapper">
													  <b class="is-visible">Developer</b>
													  <b>Coder</b>
													  <b>Player</b>
													</span>
												</span>
											</span> -->
										</div>
										<div class="">
											<a class="anchor" href="#portfolio">Got a project?</a>
										</div>
									</div>
									<div class="right">
										<div class="text">
											<p>Hello, I’m <span class="greenColor">Julio Herrera Toledo</span>, an expert in public innovation, digital transformation, and open data.</p>
											<p>My journey began over a decade ago, driven by a passion to leverage technology for greater government transparency and citizen engagement. </p>
											<p>With extensive experience in these fields, I’ve led numerous impactful projects that have transformed public services and governance.</p>
										</div>
										<div class="info">
											<ul>
												<li>
													<span>Age</span>
													<span>34</span>
												</li>
												<li>
													<span>Born In</span>
													<span><a class="href_location" href="#">Guatemala, Guatemala</a></span>
												</li>
												<li>
													<span>Mail</span>
													<span><a href="mailto:info@redciudadana.org.gt">Email</a></span>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="elisc_tm_counter">
									<ul>
										<li>
											<div class="list_inner">
												<img src="/img/JULIO/ICONOS/JULIO_WEB-08.png">
												<div>
													<h3>10+</h3>
													<span>Years of Experience</span>
												</div>
											</div>
										</li>
										<li>
											<div class="list_inner">
												<img src="/img/JULIO/ICONOS/JULIO_WEB-09.png">
												<div>
													<h3>60+</h3>
													<span>Projects Completed</span>
												</div>
											</div>
										</li>
										<li>
											<div class="list_inner">
												<img src="/img/JULIO/ICONOS/JULIO_WEB-10.png">
												<div>
													<h3>30+</h3>
													<span>Happy Clients</span>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<div class="elisc_tm_experience">
								<div class="tm_content">
									<div class="elisc_tm_title">
										<span>- Experience</span>
										<h3>Everything about me!</h3>
										<p>From co-founding Red Ciudadana to spearheading digital transformation initiatives, my career has been dedicated to creating innovative and transparent systems. Explore the milestones that have defined my professional path.</p>
									</div>
									<div class="list">
										<ul>
											<li>
												<img class="popup_image" src="img/experience/4.jpg" alt="" />
												<div class="list_inner">
													<div class="short">
														<div class="job">
															<span class="cuadro_verde">2011 - Present</span>
															<h3>Executive Director</h3>
														</div>
														<div class="place">
															<span>-Red Ciudadana</span>
														</div>
													</div>
													<div class="text">
														<p>At Red Ciudadana, we do magic (or at least we try), working to bring people closer to their governments in ways they never imagined possible.</p>
													</div>
													<a class="elisc_tm_full_link" href="www.redciudadana.org"></a>
												</div>
											</li>

											<li>
												<img class="popup_image" src="img/experience/1.jpg" alt="" />
												<div class="list_inner">
													<div class="short">
														<div class="job">
															<span class="cuadro_verde">2022 - Present</span>
															<h3>Public Innovation Consultant</h3>
														</div>
														<div class="place">
															<span>-UNDP </span>
														</div>
													</div>
													<div class="text">
														<p>As a Public Innovation Consultant with the United Nations Development Programme (UNDP), I embarked on a mission to transform public services through innovation and technology.</p>
													</div>
													<a class="elisc_tm_full_link" href="#"></a>

												</div>
											</li>

											<li>
												<img class="popup_image" src="img/experience/2.jpg" alt="" />
												<div class="list_inner">
													<div class="short">
														<div class="job">
															<span class="cuadro_verde">2021 - 2022</span>
															<h3>DECA Consultant</h3>
														</div>
														<div class="place">
															<span>-DAI</span>
														</div>
													</div>
													<div class="text">
														<p>At DAI, serving as a DECA Consultant, I dove into the complexities of the digital ecosystem of Guatemala, challenges, leveraging my expertise to craft sustainable solutions.</p>
													</div>
													<a class="elisc_tm_full_link" href="#"></a>
												</div>
											</li>
											<li>
												<img class="popup_image" src="img/experience/3.jpg" alt="" />
												<div class="list_inner">
													<div class="short">
														<div class="job">
															<span class="cuadro_verde">2020 - 2020</span>
															<h3>Open Data Barometer</h3>
														</div>
														<div class="place">
															<span>-ILDA</span>
														</div>
													</div>
													<div class="text">
														<p>By evaluating the openness of data across different governments, we provided key insights that helped shape policies and practices, encouraging a more informed and participatory society.</p>
													</div>
													<a class="elisc_tm_full_link" href="#"></a>

												</div>
											</li>
											<li>
												<img class="popup_image" src="img/experience/4.jpg" alt="" />
												<div class="list_inner">
													<div class="short">
														<div class="job">
															<span class="cuadro_verde">2016 - 2019</span>
															<h3>Open Contracting Consultant</h3>
														</div>
														<div class="place">
															<span>-HIVOS</span>
														</div>
													</div>
													<div class="text">
														<p>As an Open Contracting Consultant with HIVOS, I was at the forefront of promoting transparency and accountability in public contracting processes.</p>
													</div>
													<a class="elisc_tm_full_link" href="#"></a>


												</div>
											</li>

										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /ABOUT -->

					<!-- NEWS / BLOG -->
					<div class="elisc_tm_section" id="news">
						<div class="elisc_tm_news fn_w_sminiboxes">
							<div class="tm_content">
								<div class="wrapper">
									<div class="left fn_w_sminibox">
										<div class="elisc_tm_sticky_section">
											<div class="elisc_tm_title">
												<h3>Blogs and publications</h3>
												<p>Stay updated with the latest insights on public innovation, digital transformation, and open data.  </p> 
											</div>
											<div class="elisc_tm_button2">
												<a class="anchor" href="#contact">Get in touch</a>
											</div>
										</div>
									</div>
									<div class="right fn_w_sminibox">
										<div class="elisc_tm_sticky_section">
											{% for blog in collections.blogs %}
											<div class="blogs">
												<div class="w-30">
													<img src="{{blog.data.image}}">
												</div>
												<div class="w-70">
													<h6>{{blog.data.date | dateFormat('DD/MM/YYYY')}}</h6>
													<h5><a href="{{blog.url}}">{{blog.data.title}}</a></h5>
													<div class="linea"></div>
													<p style="line-height: 20px;">{{blog.data.title}}</p>
													<a class="elisc_tm_button2" href="{{blog.url}}">Ver más</a>
												</div>
											</div>
											{% endfor %}
											<!-- <div class="list">
												<ul>
													
                                                    <li>
														<img class="popup_image" src="{{blog.data.image}}" alt="" />
														<div class="list_inner">
															<div class="info">
																<div class="meta">
																	<img class="svg" src="img/svg/calendar.svg" alt="" /> <span>{{blog.data.date | dateFormat('DD/MM/YYYY')}}</span>
																</div>
																<div class="title">
																	<h3><a href="{{blog.url}}">{{blog.data.title}}</a></h3>
																</div>
															</div>
															<div class="elisc_tm_read_more">
																<a class="line_effect" href="{{blog.url}}">Ver más<span><img class="svg" src="img/svg/rightArrow.svg" alt="" /></span></a>
															</div>

															<div class="news_hidden_details">
																<div class="news_popup_informations">
																	<div class="text">
																		<p>{{blog.content | safe}}</p>
																	</div>
																</div>
															</div>
														</div>
													</li>
													
												</ul>
											</div> -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /NEWS -->

					<!-- RESEARCH / REPORTS -->
					<div class="elisc_tm_section" id="research">
						<div class="elisc_tm_news fn_w_sminiboxes">
							<div class="tm_content">
								<div class="wrapper">
									<div class="left fn_w_sminibox">
										<div class="elisc_tm_sticky_section">
											<div class="elisc_tm_title">
												<h3>Research and Reports</h3>
												<p>Explore my collection of research papers, reports, and articles. Each publication reflects my dedication to advancing public innovation, digital transformation, and open data.</p> 
											</div>
											<div class="elisc_tm_button2">
												<a class="anchor" href="#contact">Get in touch</a>
											</div>
										</div>
									</div>
									<div class="right fn_w_sminibox">
										<div class="elisc_tm_sticky_section">
											{% for publicacion in collections.publicaciones %}
											<div class="blogs">
												<div class="w-30">
													<img src="{{publicacion.data.image}}">
												</div>
												<div class="w-70">
													<h5><a target="_blank" href="{{publicacion.data.link}}">{{publicacion.data.title}}</a></h5>
													<div class="linea"></div>
													<p style="line-height: 20px;">{{publicacion.data.title}}</p>
													<a class="elisc_tm_button2" target="_blank" href="{{publicacion.data.link}}">Ver más</a>
												</div>
											</div>
											{% endfor %}
											<!-- <div class="list">
												<ul>
													
                                                    <li>
														<img class="popup_image" src="{{blog.data.image}}" alt="" />
														<div class="list_inner">
															<div class="info">
																<div class="meta">
																	<img class="svg" src="img/svg/calendar.svg" alt="" /> <span>{{blog.data.date | dateFormat('DD/MM/YYYY')}}</span>
																</div>
																<div class="title">
																	<h3><a href="{{blog.url}}">{{blog.data.title}}</a></h3>
																</div>
															</div>
															<div class="elisc_tm_read_more">
																<a class="line_effect" href="{{blog.url}}">Ver más<span><img class="svg" src="img/svg/rightArrow.svg" alt="" /></span></a>
															</div>

															<div class="news_hidden_details">
																<div class="news_popup_informations">
																	<div class="text">
																		<p>{{blog.content | safe}}</p>
																	</div>
																</div>
															</div>
														</div>
													</li>
													
												</ul>
											</div> -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /RESEARCH -->


					<!-- CONTACT -->
					<div class="elisc_tm_section" id="contact">
						<div class="elisc_tm_contact" style="background-color: #2a436a;">
							<div class="tm_content">
								<div class="wrapper">
									<div class="left">
										<div class="elisc_tm_title">
											<p style="color: #fff;">- Let's Connect</p>
											<h3 class="cuadro_verde">Get in touch</h3>
										</div>
										<div class="text">
											<p style="color: #fff; line-height: 25px;">I’d love to hear from you! Whether you have a question, want to collaborate, or are interested in my work, feel free to reach out.</p>
										</div>
										<div class="info" style="border-left: 1px solid #01edbb; padding-left: 15px;">
											<ul>
												<li>
													<a style="color: #fff;" href="mailto:julio@redciudadana.org">julio@redciudadana.org</a>
												</li>
												<li>
													<a style="color: #fff;" class="href_location" href="#">Guatemala, Guatemala</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="right">
										<div class="fields">
											<form action="/" method="post" class="contact_form" id="contact_form">
												<div class="returnmessage" data-success="Your message has been received, We will contact you soon."></div>
												<div class="empty_notice"><span >Please Fill Required Fields</span></div>
												<div class="first">
													<ul>
														<li>
															<input id="name" type="text" placeholder="Enter your name" autocomplete="off">
														</li>
														<li>
															<input id="email" type="text" placeholder="Your email" autocomplete="off">
														</li>
													</ul>
												</div>
												<div class="last">
													<textarea id="message" placeholder="Write something..."></textarea>
												</div>
												<div class="elisc_tm_button">
													<a id="send_message" href="#">Submit now</a>
												</div>

												<!-- If you want change mail address to yours, just open "modal" folder >> contact.php and go to line 4 and change detail to yours.  -->

											</form>
										</div>
									</div>
								</div>	

								<div class="elisc_tm_map">
									<div class="mapouter"><div class="gmap_canvas">

										<iframe style="width: 100%;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15444.793209408372!2d-90.5042214!3d14.5877734!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8589a3be2a21adaf%3A0xfae6ebca6355f6d!2sEdificio%20Torino!5e0!3m2!1ses-419!2sgt!4v1722521207647!5m2!1ses-419!2sgt" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

										<a href="https://www.embedgooglemap.net/blog/divi-discount-code-elegant-themes-coupon"></a><br><style>.mapouter{position:relative;text-align:right;height:375px;width:100%;}</style><a href="https://www.embedgooglemap.net">how to add google map</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:375px;width:100%;}</style></div></div>


									

									<!-- Get your API here https://www.embedgooglemap.net -->
								</div>

							</div>
						</div>
					</div>
					<!-- /CONTACT -->

				</div>
			</div>
			<!-- /MAINPART -->
			
		
{% endblock %}