{% extends "src/base.njk" %}

{% block head %}
<title>Julio Herrera Toledo | {{ title }}</title>
{% endblock %}

{% block content %}
            <!-- MAINPART -->
			<div class="elisc_tm_mainpart">
				<div class="mainpart_inner">

                    <!-- BLOG -->
                    <div class="elisc_tm_section" id="about">
                        <div class="elisc_tm_about">
                            <div class="tm_content">
             
                                <div class="title">
                                    <h3 class="name">{{title}}</h3>
                                    <span class="mini">{{date | dateFormat('DD/MM/YYYY')}}</span><br>   
                                    <span class="mini">{{correo}}</span>
                                    <br><br>
                                </div>

                                <div class="text">
                                    <p>
                                        {{ content }}
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}